.head_container{    background-color: #edeaea;
    height: 82px;
    width: 100%;
    margin-top: -10px;
    box-sizing: border-box;
    border: 0 solid;
    position: sticky;
    top: 0px;}

    body{margin: 0 auto;}
    .header_items{    
    height: 62px;
    width: 990px;
    margin: 10px auto;display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;column-gap: 27px;}

    .input_box{    padding-left: 11px;
    height: 30px;
    width: 265px;
    border-radius: 20px;
    box-sizing: content-box;
    margin: 5px;
    border-color: #ee521f;
    font-size: 15px;border-style: solid;}

  .Search{padding: 16px;
    margin: 24px;}
.text_style{float: right;
    margin: 5px;
    color: black;
    width: 42px;
    font-weight: bold;}

.navbar_container{    height: 21px;
   
    background: #f45224;
    padding: 7px;box-shadow: -3px 2px 4px 2px #c1b5b5;    position: sticky;}

.navbar_items{    display: flex;justify-content:flex-start;
    height: 16px;
    margin: 0 auto; width: 990px;padding: 0px;column-gap: 30px;}



.dropdown{position:  relative;display: inline-block;}
.dropbtn {    color: #ffffff;
    padding: 0px;
    font-size: 12px;
    border: none;
    background: #f45224;}

  .dropdown-content {
 display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;font-size: 14px;}

  .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;}

  .dropdown-content a:hover {background: #ef4f21;}
  .dropdown:hover .dropdown-content {display: block;}
  
.dropdown:hover .dropbtn {    color: black;
    background: none;}
.link_btn{    text-decoration: none;
    font-size: 12px;
    color: white;}

.link_btn:hover{color: black;}

.Slider_container{    
    margin-top: 49px;
    height: 300px;
    width: 1007px;
   margin: 44px auto;position: static;}
    .mySlides {display: none;}

    .fade {
  animation-name: fade;
  animation-duration: 1.5s;}
.img_size{height: 400px;
    width: 100%;}

    .dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;}

  .container{
   height: 60px;
    width: 990px;
    margin: 140px auto;
    padding: 20px;}

  .container_box{    display: grid
;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-gap: 20px;
}

  .box_style{background-color: white;
    height: 78px;
    box-sizing: border-box;
    box-shadow: 2px 1px 8px #d3caca;
    border-radius: 5px;
    padding: 10px;}
.container_image{     background: #f45224;
    box-sizing: border-box;
    border-radius: 19px;
    height: 39px;
    width: 40px;
    padding: 4px;
    margin-top: 11px;}

  .h4_text{margin-top: -48px;
    margin-left: 62px;
    color: black;
    font-size: 22px;
    font-weight: 500;}
  .p_text{    margin-top: -28px;
    margin-left: 63px;
    color: #3d3d3d;
    font-size: 15px;}

.feature_text{
    height: 75px;
    margin: 0 auto;
    width: 990px;text-align: center;}
 .items_box{
   margin: 20px auto;
    width: 990px;
    height: 275px;
    padding: 5px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;}
  .box_input{background: #f6f8fa;
    height: 108px;
    width: 150px;
    padding: 7px;
    box-sizing: border-box;
    box-shadow: -1px 4px 10px 3px #eae2e2c4;
    border-radius: 5px;}
.box_img{        margin: 0px 36px;}
.img_p{    color: black;
    text-align: center;margin: 2px;}
  
.box_input:hover{background-color: #ee521f;}

.order_box{  height: 700px;
    width: 990px;
    margin: 1px auto;
    padding: 20px;}
.order_items{    display: grid;
    grid-template-columns: auto auto auto auto;grid-gap: 16px;}

.product_box{background: #ffffff;
    height: 275px;
    width: 210px;
    padding: 13px;
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 0px 1px 12px #cdcdcd;display: flex
;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-around;}

.buy_btn{background: #f45224;
    color: white;
    border: none;
    border-radius: 4px;
    height: 30px;
    width: 78px;
    margin-top: 1px;
    cursor: pointer;}

.cart_btn{background: white;
    border-radius: 4px;
    height: 29px;
    width: 84px;
    margin-top: 1px;
    font-size: 12px;
    color: #f45224;
    border-style: solid;
    border-color: #f45224;
    cursor: pointer;}

.headline{height: 21px;
    width: 990px;
    margin: 0px auto;
    padding: 20px;
    text-align: center;font-size: 32px;
    margin-top: 20px;}

.brands{height: 80px;
    width: 633px;
    margin: 0px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 0px;}
.toast_container{  position: fixed;
    top: 117px;
    right: 20px;
    background-color: #e6fff1;
    padding: 12px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    color: #144c07;
    font-weight: 500;
    visibility:hidden;}


.discription{    height: 800px;
    width: 990px;
    margin: 32px auto;
    text-align: justify;}

.footer_container{
       background: #060e25;
    height: 475px;
    padding: 20px 14px 20px 8px;
    color: white;
    margin: 0px auto;}
.info{    display: grid;
    grid-template-columns: auto auto auto auto;
    height: 400px;
    justify-content: space-around;
    align-items: start;width: 990px;
    margin: 0 auto; }

.about_us{    font-family: cursive;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
    justify-content: center;}
.link_text{    text-decoration: none;
    color: bisque;
    margin: 13px;}

.contact_box{background: #f0f8ff00;
    height: 56px;
    width: 250px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 26px;
    text-decoration: none;
    border-style: groove;
    border-color: white;
    margin-left: 8px;
    margin-top: 20px;
    color: bisque;
    font-size: 22px;
    text-align: right;}

.link_text:hover{color: #ee521f;}

.contact_box:hover{color: #ef4f21;}
